<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mhts.hp">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon78"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon78"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com/example/mhts"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivities.HistoryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Account.Signup"
            android:parentActivityName="Account.LoginActivity" />
        <activity
            android:name=".MainActivities.ReportViolation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ReportViolationTheme" />
        <activity
            android:name=".MainActivities.SuspeciousActivitity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HistoryTheme" />
        <activity
            android:name=".MainActivities.AnnouncementActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AnnouncementTheme" />
        <activity android:name=".Account.LoginActivity" />
        <activity
            android:name=".MainActivities.NewCrimeReportActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CrimeTheme" />
        <activity
            android:name=".Account.AccountActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CrimeTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mhts.hp.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivities.AnimeActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HistoryTheme"></activity>
    </application>

</manifest>